:host(antidote-terminal) {
  display: block;
  height: 100%;
  width: 100%;
  background: #262c2c;
  padding: 10px 20px 5px 20px;

  .error {
    /* todo: figure out how to use LESS variables in these components :/ */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #c35b56;
    z-index: 10;
  }

  #term-target {
    height: 100%;
  }

  .error + #term-target {
    opacity: .1;
  }
}
