// might have to redo most of this in a rewrite. the css originally provided for this stage selector
// by Ryan has been nothing but odd edge case bugs.
:host(antidote-lab-stage-selector) {
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: @base-size;
  }
}
