:host(antidote-lab-guide) {
  display: block;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow: scroll;

  & > div {
    padding: 30px 40px 40px 40px;
  }

  iframe {
    height: 100%;
    width: 100%;
    border: none;
  }
}
