.path-item {
  display: flex;
  flex-direction: row;
  margin-top: @base-size;
  position: relative;

  .number {
    display: flex;
    flex-direction: column;

    > img {
      align-self: flex-start;
      margin-right: @base-size;
      width: @base-size;
      height: @base-size;
      object-fit: contain;
      flex-shrink: 0;
    }
  }

  .line {
    position: absolute;
    top: @base-size;
    width: 1px;
    height: 100%;
    margin-left: @md-size;
    background-color: @brand-medium;
  }

  .canister {
    margin-top: 0;
  }

  &:last-of-type .line {
    height: calc(100% - @base-size);
  }
}
