@import "third-party/rSlider.min.less"; // include slider base styles
@import "custom-inputs";

label {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  line-height: @sm-line-height;
}

input[type="text"], textarea {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 2px;
  height: @base-size;
  font-size: 16px;
  color: #999999;
  padding: 21px @md-size;
  width: 100%;

  &:disabled {
    border: none;
    background-color: @brand-light;
  }
  &::placeholder {
    font-style: italic;
    color: #CCCCCC;
  }
}

textarea {
  height: 100%;
  padding: @sm-size;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
}

.awesomplete {
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    font-family: "feather";
    content: "\e842";
    color: @brand-dark;
    font-size: 30px;
    padding-right: 0;
    position: absolute;
    top: @xs-size;
    right: @sm-size;
  }
}