.tab-wrapper {
  display: flex;
  list-style: none;
  background-color: @brand-light;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  padding: 0;
  width: 100%;

  li {
    padding: 15px @base-size;
    color: @brand-dark;
    cursor: pointer;
    transition: background-color .25s ease-in-out;

    &:hover {
      background-color: #BBBBBB;
    }
  }

  .tab-selected {
    background-color: @brand-dark;
    color: #FFFFFF;
    border-radius: @sm-size @sm-size 0 0;
    cursor: default;

    &:hover {
      background-color: @brand-dark;
    }
  }
}
